{% extends "base.html" %}
{% block title %}Connexion{% endblock %}
{% block content %}
    <h1>Connexion</h1>
    {% if form.errors %}
        <div class="row">
            <div class="col">
                <div class="alert alert-danger" role="alert">
                    <p class="mb-0">Votre nom d'utilisateur et votre mot de passe ne correspondent pas. Veuillez réessayer.</p>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="offset-4 col-4">
            <form method="post">
                {% csrf_token %}
                {% load widget_tweaks %}
                <div class="mb-3">
                    {{ form.username.label_tag }}
                    {{ form.username|add_class:"form-control mt-1" }}
                </div>
                <div class="mb-3">
                    {{ form.password.label_tag }}
                    {{ form.password|add_class:"form-control" }}
                </div>
                <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                <button type="submit" class="btn btn-primary">Connexion</button>
            </form>
            <hr>
            <ul class="list-unstyled">
                <li class="mt-2"><a href="{% url 'signup' %}">Créer un compte</a></li>
                <li class="mt-2"><a href="{% url 'password_reset' %}">Mot de passe oublié</a></li>
            </ul>
        </div>
    </div>
{% endblock %}