<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recettes</title>
</head>
<body>
    <p>Bienvenue</p>
    <ul>
        <li><a href="{% url 'recettes:categories' %}">Mes recettes</a></li>
        <li>Menu</li>
        <li>Liste des courses</li>
        <li>
            De saison
            <ul>
                <li>Fruits</li>
                <li>Légumes</li>
                <li>Vins</li>
                <li>Fromages</li>
            </ul>
        </li>
    </ul>
    {# <a href="{% url 'recettes:ajouter_recette' %}">Ajouter une recette</a> #}
</body>
</html>